<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/main.css">
  <title>All Notes</title>
</head>

<body>
    <%- include("header") -%>
    <div class="row">
      <div class="col-md-4 mx-auto">
        <div class="card">
          <div class="card-header">
            <h3>New Note</h3>
          </div>
          <div class="card-body">
            <form class="" action="/add_note" method="POST">
              <div class="form-group">
                <input type="text" name="title" class="form-control" placeholder="Title"
                autofocus>
              </div>
              <div class="form-group">
                <textarea name="content" class="form-control" placeholder="content"></textarea>
              </div>
              <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit">Save</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
   

    <div class="row">
        <% for (const note of rows) {%>
        <div class="col-md-3">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title d-flex justify-content-between align-items-center">
                <%=note.title%>
                 <a href="/edit_note/<%=note.note_id%>"> <i class="fas fa-edit"></i> </a>
              </h4>
              <p><%=note.content%> </p>
              <!-- Delete Request -->
              <form action="/delete_note/<%=note.note_id%>" method="POST">
                <input type="hidden" name="_method" value="DELETE">
                <button type="submit" class="btn btn-danger btn-block btn-sm">Delete</button>
              </form>
            </div>
          </div>
        </div>
            <!-- <div class="card mx-auto">
            <div class="card-body">
                <p class="lead">There are not notes yet.</p>
                <a href="/notes/add" class="btn btn-success btn-block">Create One!</a>
            </div>
            </div> -->
        <% } %><!-- end of for -->
        <!-- <div class="card mx-auto">
            <div class="card-body">
                <p class="lead">Add More Notes</p>
                <a href="/notes/add" class="btn btn-success btn-block">Create One!</a>
            </div>
        </div> -->
      </div>

       

  <!--Scripsts-->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>

</html>